
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

:root{
    --bgDarkPink: hsl(350, 100%, 90%, 0.8);
    --bgLight: hsl(0, 0%, 100%, 0.5);
}

body{
    background-color: var(--bgDarkPink);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    padding-top: 1em;
}

article, div{
    margin: 1em;
    padding: 1em;
    border-radius: 10px 35px;
}

#input-container{
    background-color: var(--bgLight);
    height: 30vh;
    flex-basis: 80%;
}

#input-container h3{
    color: hsl(350, 90%, 70%, 0.8);
    padding: 0.5em;
    text-align: center;
}

#input-container form{
    display: flex;
    flex-flow: row wrap;
}

form label{
    flex-basis: 100%;
    padding-bottom: 0.2em;
}

form input, textarea{
    padding: 2px;
    border-radius: 10px;
}

#username-input{
    margin-bottom: 1em;
}

#text-input{
    width: 90%;
    height: 5em;
    overflow: scroll;
}

button{
    margin-left: 1em;
    margin-top: 3em;
    height: 2em;
}

#messageDiv{
    background-color: var(--bgLight);
    height: 55vh;
    flex-basis: 80%;
    overflow: scroll;
}
