@import url('https://fonts.googleapis.com/css?family=Raleway:200');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

:root{
    --bgDarkPink: hsl(350, 100%, 90%, 0.8);
    --bgLight: hsl(0, 0%, 100%, 0.5);
}

body{
    background-color: var(--bgDarkPink);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    padding-top: 1em;
}

article, div{
    margin: 1em;
    padding: 1em;
    border-radius: 10px 35px;
}

#input-container{
    background-color: var(--bgLight);
    height: 30vh;
    flex-basis: 80%;
    --borderWidth: 7px;
  position: relative;
  border-radius: var(--borderWidth);
}

#input-container::after {
    content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#input-container h3{
    color: hsl(350, 90%, 70%, 0.8);
    padding: 0.5em;
    text-align: center;
}

#input-container form{
    display: flex;
    flex-flow: row wrap;
}

form label{
    flex-basis: 100%;
    padding-bottom: 0.2em;
}

form input, textarea{
    padding: 2px;
    border-radius: 10px;
}

#username-input{
    margin-bottom: 1em;
}

#text-input{
    width: 90%;
    height: 5em;
    overflow: scroll;
}

button{
    margin-left: 1em;
    margin-top: 3em;
    height: 2em;
    background-color: rgb(238, 77, 104);
    border-radius: 5px;
    padding: 5px;
    
}

#messageDiv{
    background-color: var(--bgLight);
    height: 55vh;
    flex-basis: 80%;
    overflow: scroll;
    
    }
    @keyframes popup {
    from { width: 0rem;}
    to {width: 20rem;}
  }

.message-card{
    background-color: hsl(0, 0%, 0%, 0.05);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 0.01rem black solid;
    width: 20rem;
    animation: popup;
    animation-duration: 0.2s;
    border-radius: 10px;

}

p{
    font-family: 'Courier New', Courier, monospace
}
.username-par{
    color: black;
    font-size: 1rem;
    margin-top: 0.2;
    margin-bottom: 0.2;
    margin: 0.2rem;
    font-weight: bold;
}
.message-par{
    font-size: 0.8rem;
    margin: 0.2rem;
}
.time-stamp{
    font-size: 0.5rem;
    margin: 0.5rem;
    text-align: right;
    
}

/* Contributor: Ignacio */
.message-card:hover {
    transform: scale(1.01);
    background-color: #f79daf;
    color: hsl(0, 0%, 95%);
    rotate: -1.01deg;
}    

